<div class="landing">
<div class="text">
<h1>
    CONTACT US
</h1>
<h2>
    Lets get in touch with us
</h2>
</div>
</div>

<div class="content">
<div class="box">
    <p>Pls Enter your details and send us your thought.</p>
    <form class="form">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button type="submit" mat-flat-button color="primary">SUBMIT</button>
      </form>
</div>
</div>