<div class="content">
<mat-card>
<div class="center">
<img src="assets/Images/profile.jpg" width="90" height="90">
<div class="text">
<h1>Batman</h1>
<span>--BSIT Student</span>
</div>
</div>
<div class="about">
<div class="left">
<img src="assets/Images/luffy.png" width="90" height="90">
</div>
    <div class="text">
    <span>About Me:</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quae, laborum architecto nisi eius iure! Doloribus labore facere id doloremque quia pariatur hic aspernatur tempore necessitatibus impedit, molestias, asperiores officia.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, magni. Nobis porro voluptatibus velit ipsa et commodi, unde, cupiditate officiis distinctio labore quibusdam accusamus ullam sapiente hic quo repellendus corrupti?
    </p>
    </div>
</div>
<div class="info">
<mat-card>
<mat-card-title><mat-icon aria-hidden="false">home</mat-icon>Address</mat-card-title>
<mat-card-content>Brgy. Mars</mat-card-content>
</mat-card>
<mat-card>
<mat-card-title><mat-icon aria-hidden="false">contact_support</mat-icon>Contact</mat-card-title>
<mat-card-content>091535****</mat-card-content>
<mat-card-content>@kenlauxzs</mat-card-content>
</mat-card>
<mat-card>
<mat-card-title><mat-icon>github</mat-icon>Github</mat-card-title>
<mat-card-content><a href="https://github.com/KenLauxzs">Kenlauxz</a></mat-card-content>
</mat-card>
</div>
</mat-card>
</div>
