
<div class="content">
    <div class="center">
        <div class="text">
        <h1>Ken Bryan Dipa</h1>
        <span>--BSIT Student</span>
        </div>
        </div>
    </div>
<div class="about">
<div class="about-text">
    <h1>About Me</h1>
    <p>Im <b>Ken Bryan Dipa</b>, BSIT student at Eastern Visayas State University Carigara Campus(EVSUCC). I'm an ALS passer year 2017-2018, although i ddn't step in highschool but still i'll do my best in this course. 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
         incidunt? Id perferendis iusto voluptas
         ex doloremque reprehenderit dignissimos voluptatem numquam 
         rerum rem laboriosam doloribus cum, eveniet quod quisquam, suscipit ad.
         Perspiciatis,
         incidunt? Id perferendis iusto voluptas
         ex doloremque reprehenderit dignissimos voluptatem numquam 
         rerum rem laboriosam doloribus cum, eveniet quod quisquam, suscipit ad.
        </p>
  </div>
  </div>
  <div class="flex">
    <mat-card class="item">
        <mat-icon aria-hidden="false">home</mat-icon>
        <mat-card-title>Address</mat-card-title>
        <mat-card-content>Brgy. Barugohay Norte, Carigara, Leyte</mat-card-content>
    </mat-card>
    <mat-card class="item">
        <mat-icon aria-hidden="false">contact_phone</mat-icon>
        <mat-card-title>Mobile No.</mat-card-title>
        <mat-card-content>09153557313</mat-card-content>
    </mat-card>
    <mat-card class="item">
        <mat-icon aria-hidden="false">email</mat-icon>
        <mat-card-title>Email</mat-card-title>
        <mat-card-content>Kenlauxzs@gmail.com</mat-card-content>
    </mat-card>
    <mat-card class="item">
        <mat-icon aria-hidden="false">groups</mat-icon>
        <mat-card-title>Github</mat-card-title>
        <mat-card-content>/KenLauxzs</mat-card-content>
    </mat-card>
    <mat-card class="item">
        <mat-icon aria-hidden="false">facebook</mat-icon>
        <mat-card-title>Facebook</mat-card-title>
        <mat-card-content>/KenLauxzsGaming</mat-card-content>
    </mat-card>
    

